@using GreyAnatomyFanSite.Models.Persos

@{

    ViewData["Title"] = "Ajouter Personnage";

}


<div class="row">
    <div class="col-lg-offset-3 col-lg-6 col-xs-offset-1 col-xs-10">
        <div class="row">
            <h2 class="col-lg-12">Ajouter un Personnage</h2>
        </div>

        @if (Model == null)
        {
            <form asp-controller="Personnages" asp-action="AddPerso" method="post">
                <div class="row">
                    <div class="form-group">
                        <label for="nom">Nom : </label>
                        <input type="text" class="form-control" name="name" placeholder="Nom" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="nom">Prénom d'usage : </label>
                        <input type="text" class="form-control" name="firstname" placeholder="Prenom" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <button class="form-control btn btn-default" type="submit">Enregistrer</button>
                    </div>
                </div>
            </form>
        }

        else

        {
            <div class="row">
                <h2 class="col-lg-12">
                    @Model.Nom <span> </span>
                    @if (Model.Prenoms.Count == 0)
                    {
                        <span>(Prénom à renseigner)</span>
                    }
                    else
                    {
                        @Model.Prenoms[0].Prenom
                    }
                </h2>
            </div>

            <div class="row">
                <h3>Liste des prénoms:</h3>
            </div>

            @if (Model.Prenoms == null)
            {
                <p>Pas de prénom enregistré</p>
            }
            else
            {
                <dl>
                    @foreach (PrenomPerso p in Model.Prenoms)
                    {
                        <dt>@p.Prenom</dt>
                        <dd><a asp-area="" asp-controller="Personnages" asp-action="DeletePrenom" asp-route-id="@p.Id" asp-route-idPerso="@Model.Id">Supprimer le prénom</a></dd>
                    }
                </dl>

                <form asp-controller="Personnages" asp-action="AddFirstName" method="post">
                    <div class="row">
                        <div class="form-group">
                            <label for="nom">Ajouter un prénom : </label>
                            <input type="text" class="form-control" name="firstname" placeholder="Nouveau Prénom" />
                            <input type="hidden" name="idPerso" value="@Model.Id" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <button class="form-control btn btn-default" type="submit">Soumettre</button>
                        </div>
                    </div>
                </form>
            }

            <div class="row">
                <h3>Liste des surnoms:</h3>
            </div>

            @if (Model.Surnoms == null)
            {
                <p>Pas de surnom enregistré</p>
            }
            else
            {
                <dl>
                    @foreach (SurnomPerso s in Model.Surnoms)
                    {
                        <dt>@s.Surnom</dt>
                        <dd><a asp-area="" asp-controller="Personnages" asp-action="DeleteSurnom" asp-route-id="@s.Id" asp-route-idPerso="@Model.Id">Supprimer le surnom</a></dd>
                    }
                </dl>

                <form asp-controller="Personnages" asp-action="AddSurName" method="post">
                    <div class="row">
                        <div class="form-group">
                            <label for="nom">Ajouter un surnom : </label>
                            <input type="text" class="form-control" name="surname" placeholder="Nouveau Surnom" />
                            <input type="hidden" name="idPerso" value="@Model.Id" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <button class="form-control btn btn-default" type="submit">Soumettre</button>
                        </div>
                    </div>
                </form>

            }

            <form asp-controller="Personnages" asp-action="StillAlive" method="post">
                <div class="row">
                    <div class="col-lg-4">
                        <label for="statutvVivant">Toujours Vivant ? </label>
                    </div>
                    <div class="col-lg-4">


                        @if (Model.StatutVivant)
                        {
                            <label for="statutVivant" class="radio">
                                <input id="statutVivant" type="radio" value="yes" name="statutVivant" checked>Oui
                            </label>
                        }
                        else
                        {
                            <label for="statutVivant" class="radio">
                                <input id="statutVivant" type="radio" value="yes" name="statutVivant">Oui
                            </label>
                        }
                    </div>
                    <div class="col-lg-4">
                        @if (Model.StatutVivant)
                        {
                            <label for="statutVivant" class="radio">
                                <input id="statutVivant" type="radio" value="no" name="statutVivant">Non
                            </label>
                        }
                        else
                        {
                            <label for="statutVivant" class="radio">
                                <input id="statutVivant" type="radio" value="no" name="statutVivant" checked>Non
                            </label>
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <input type="hidden" name="idPerso" value="@Model.Id" />
                        <button class="form-control btn btn-default" type="submit">Soumettre</button>
                    </div>
                </div>
            </form>


            @if (Model.StatutVivant)
            {
                <form asp-controller="Personnages" asp-action="StillPresent" method="post">
                    <div class="row">
                        <div class="col-lg-4">
                            <label for="StatutPresent">Toujours Présent ? </label>
                        </div>
                        <div class="col-lg-4">


                            @if (Model.StatutPresent)
                            {
                                <label for="StatutPresent" class="radio">
                                    <input id="StatutPresent" type="radio" value="yes" name="StatutPresent" checked>Oui
                                </label>
                            }
                            else
                            {
                                <label for="StatutPresent" class="radio">
                                    <input id="StatutPresent" type="radio" value="yes" name="StatutPresent">Oui
                                </label>
                            }
                        </div>
                        <div class="col-lg-4">
                            @if (Model.StatutPresent)
                            {
                                <label for="StatutPresent" class="radio">
                                    <input id="StatutPresent" type="radio" value="no" name="StatutPresent">Non
                                </label>
                            }
                            else
                            {
                                <label for="StatutPresent" class="radio">
                                    <input id="StatutPresent" type="radio" value="no" name="StatutPresent" checked>Non
                                </label>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <input type="hidden" name="idPerso" value="@Model.Id" />
                            <button class="form-control btn btn-default" type="submit">Soumettre</button>
                        </div>
                    </div>
                </form>
            }

        }


    </div>
</div>
















<div class="row">
    <div class="col-lg-offset-3 col-lg-6">
        <div class="row">
            <h2 class="col-lg-12">Ajouter Personnage</h2>
        </div>
        <form asp-controller="Administration" asp-action="AddPersoPost" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-12">
                    <label for="nom">Nom : </label>
                    <input type="text" class="form-control" name="nom" placeholder="Nom" />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <label for="prenom">Prénom : </label>
                    <input type="text" class="form-control" name="prenom" placeholder="Prénom" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label for="prenom2">Prénom 2 : </label>
                    <input type="text" class="form-control" name="prenom2" placeholder="Prénom 2 (facultatif)" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label for="prenom3">Prénom 3 : </label>
                    <input type="text" class="form-control" name="prenom3" placeholder="Prénom 3 (facultatif)" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label for="surnom">Surnom : </label>
                    <input type="text" class="form-control" name="surnom" placeholder="Surnom (facultatif)" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label for="surnom2">Surnom 2 : </label>
                    <input type="text" class="form-control" name="surnom2" placeholder="Surnom 2 (facultatif)" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label for="surnom3">Surnom 3 : </label>
                    <input type="text" class="form-control" name="surnom3" placeholder="Surnom 3 (facultatif)" />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <label for="biographie">Biographie du Personnage : </label>
                    <textarea type="text" class="form-control tailleTextArea" name="bio" placeholder="Biographie du Personnage"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <label for="nomActeur">Nom de l'acteur : </label>
                    <input type="text" class="form-control" name="nomActeur" placeholder="Nom de l'Acteur" />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <label for="prenomActeur">Prénom de l'acteur : </label>
                    <input type="text" class="form-control" name="prenomActeur" placeholder="Prénom de l'Acteur" />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <label for="bioActeur">Biographie de l'acteur : </label>
                    <textarea type="text" class="form-control tailleTextArea" name="bioActeur" placeholder="Biographie de l'Acteur"></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <label for="naissanceActeur">Date de naissance de l'Acteur : </label>
                    <input type="date" class="form-control" name="dateNaissance" id="datepicker" />
                </div>
            </div>



            <div class="row">
                <div class="col-lg-12">
                    <label for="role">Rôle : </label>
                    <select name="role" class="form-control">
                        <option></option>
                        <option value="Medecin">Médecin</option>
                        <option value="Infirmier">Infirmier(e)</option>
                        <option value="Patient">Patient</option>
                        <option value="Exterieur">Exterieur</option>
                    </select>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-4">
                    <label for="statutvVivant">Toujours Vivant ? </label>
                </div>
                <div class="col-lg-4">
                    <label for="statutVivant" class="radio">
                        <input id="statutVivant" type="radio" value="yes" name="statutVivant">Oui
                    </label>

                </div>
                <div class="col-lg-4">
                    <label for="statutVivant" class="radio">
                        <input id="statutVivant" type="radio" value="no" name="statutVivant">Non
                    </label>

                </div>
            </div>


            <div class="row">
                <div class="col-lg-4">
                    <label for="statutvVivant">Toujours Présent ? </label>
                </div>
                <div class="col-lg-4">
                    <label for="statutPresent" class="radio">
                        <input id="statutPresent" type="radio" value="yes" name="statutPresent">Oui
                    </label>

                </div>
                <div class="col-lg-4">
                    <label for="statutPresent" class="radio">
                        <input id="statutPresent" type="radio" value="no" name="statutPresent">Non
                    </label>

                </div>
            </div>


            <div class="row">
                <div class="col-lg-12">
                    <label for="photo">Photo principale : </label>
                    <input type="file" class="form-control" name="image">
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-lg-12">
                    <button class="form-control btn btn-default" type="submit">Enregistrer</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        $("#datepicker").datepicker({
            changeMonth: true,
            changeYear: true
        });
    });
</script>