@using GreyAnatomyFanSite.Models.Persos

@{
    ViewData["Title"] = Model.Nom + " " + Model.Prenoms[0].Prenom;

    ViewData["MetaDescription"] = Model.Biographie;

    string prenoms = null;

    foreach (PrenomPerso p in Model.Prenoms)
    {
        prenoms = p.Prenom + ", " + prenoms;

    }

    string surnoms = null;

    if (Model.Surnoms.Count != 0)
    {
        foreach (SurnomPerso s in Model.Surnoms)
        {
            surnoms = s.Surnom + ", " + surnoms;

        }
    }

    int Age = DateTime.Now.Year - Model.DateNaissance.Year;
    DateTime DateAnniv = new DateTime(DateTime.Now.Year, Model.DateNaissance.Month, Model.DateNaissance.Day);
    if (DateAnniv > DateTime.Now)
    {
        Age--;
    }

    ViewData["MetaKeywords"] = Model.Nom + ", " + prenoms + ", " + surnoms;

}

<div class="row">
    <h2 class="col-sm-offset-4 col-sm-4">
        @Model.Nom

        @foreach (PrenomPerso p in Model.Prenoms)
        {
            @p.Prenom; <span> </span>

        }
    </h2>
</div>

<div class="row">

    <section class="col-sm-offset-2 col-sm-3">
        <img src="~/@Model.Photos[0].Url" alt="@Model.Prenoms[0].Prenom" class="img-thumbnail img-circle">
    </section>

    <section class="col-sm-7">
        <section class="col-sm-10">
            <table class="table table-bordered table-striped">
                <caption>
                    <h4>Informations Biographiques</h4>
                </caption>
                <tbody>
                    <tr>
                        <td class="col-xs-5">Nom:  </td>
                        <td>@Model.Nom</td>
                    </tr>
                    <tr>
                        <td>

                            @if (Model.Prenoms.Count == 1)
                            {
                                <span>Prénom:  </span>
                            }
                            else
                            {
                                <span>Prénoms:  </span>
                            }
                        </td>

                        <td>
                            @foreach (PrenomPerso p in Model.Prenoms)
                            {
                                @p.Prenom; <br>

                            }
                        </td>
                    </tr>
                    <tr>
                        <td>

                            @if (Model.Surnoms.Count == 1)
                            {
                                <span>Surnom:  </span>
                            }
                            else
                            {
                                <span>Surnoms:  </span>
                            }
                        </td>

                        <td>

                            @foreach (SurnomPerso s in Model.Surnoms)
                            {
                                @s.Surnom; <br>

                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Statut:</td>
                        <td>
                            @if (Model.StatutVivant)
                            {
                                <span>En Vie</span>
                            }
                            else
                            {
                                <span>Décédé</span>
                            }
                        </td>
                    </tr>
                    @if (Model.StatutVivant)
                    {
                        <tr>
                            <td>Toujours Présent:</td>
                            <td>
                                @if (Model.StatutPresent)
                                {
                                    <span>Oui</span>
                                }
                                else
                                {
                                    <span>Non</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
        <section class="col-sm-10">
            <table class="table table-bordered table-striped table-condensed">
                <caption>
                    <h4>Informations Acteur</h4>
                </caption>
                <tbody>
                    <tr>
                        <td class="col-xs-5">Nom:  </td>
                        <td>@Model.NomActeur</td>
                    </tr>
                    <tr>
                        <td>

                            @if (Model.PrenomsActeur.Count == 1)
                            {
                                <span>Prénom:  </span>
                            }
                            else
                            {
                                <span>Prénoms:  </span>
                            }
                        </td>

                        <td>

                            @foreach (PrenomActeur p in Model.PrenomsActeur)
                            {
                                @p.Prenom; <br>

                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Date de Naissance:  </td>
                        <td>@String.Format("{0:dd/MM/yyyy}", Model.DateNaissance) - @Age ans</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="CentreTableau"><a asp-area="" asp-controller="Acteurs" asp-action="ViewActeurID" asp-route-id="@Model.IdActeur">Voir la fiche de l'acteur</a></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>
</div>

<section class="row">
    <section class="col-xs-offset-1 col-xs-10">
        <table class="table table-bordered table-striped table-condensed">
            <caption>
                <h4>Liste des apparitions: </h4>
            </caption>
            <thead>
                <tr>
                    <th class="col-xs-5">Saisons</th>
                    <th class="col-xs-5">Episodes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>En construction  </td>
                    <td>En construction</td>
                </tr>
            </tbody>
        </table>
    </section>
</section>

<section class="row">
    <div class="col-xs-offset-3 col-xs-7">
        <h4>A Venir:</h4>
        <ul>
            <li>Description du personnage</li>
            <li>Histoire du personnage</li>
            <li>Selection de photos du personnage</li>
            <li>Et bien d'autres surprises...</li>
        </ul>
    </div>
</section>