@using GreyAnatomyFanSite.Models.Persos

@{
    ViewData["Title"] = "Liste des Personnages";
    ViewData["MetaDescription"] = "Liste des personnages de la série Grey's Anatomy.";
    int Id = 0;
}

@model List<Personnage>

<section class="row">
    <section class="col-lg-offset-2 col-lg-7">

        <table class="table table-bordered table-striped">
            <caption>
                <h4>Liste des Personnages</h4>
            </caption>

            @if (Model.Count == 0)
            {
                <tbody>
                    <tr>

                        <td>
                            Pas de personnage enregistré.
                        </td>
                    </tr>
                </tbody>
            }
            else
            {
                <thead>
                    <tr class="CentreTableau">
                        <th class="col-xs-2">Id</th>
                        <th class="col-xs-5">Nom du Personnage:</th>
                        <th class="col-xs-5">Acteur:</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (Personnage p in Model)
                    {
                        Id++;
                        <tr class="CentreTableau">

                            <td>N°: @Id</td>

                            <td>
                                @if (p.Photos.Count != 0)
                                {
                                    string urlPrincipale = "";
                                    foreach (PhotoPerso photo in p.Photos)
                                    {
                                        if (photo.PhotoPrincipale)
                                        {
                                            urlPrincipale = photo.Url;
                                        }
                                    }

                                    <img src="~/@urlPrincipale" class="img-circle imgMini" />
                                }
                                <span>    </span>
                                <a asp-area="" asp-controller="Personnages" asp-action="ViewPersonnageID" asp-route-id="@p.Id">

                                    @if (p.Prenoms.Count != 0)
                                    {
                                        @p.Prenoms[0].Prenom

                                    }

                                    @p.Nom
                                </a>
                            </td>
                            <td>
                                @if ((p.NomActeur != null) && (p.PrenomsActeur.Count != 0))
                                {
                                    <a asp-area="" asp-controller="Acteurs" asp-action="ViewActeurID" asp-route-id="@p.IdActeur">@p.PrenomsActeur[0].Prenom @p.NomActeur</a>

                                }
                            </td>

                            @if ((ViewBag.Statut == "Coeur") || (ViewBag.Statut == "Administrateur"))
                            {
                                <td><a asp-area="" asp-controller="Personnages" asp-action="ModifPerso" asp-route-id="@p.Id">Modifier</a></td>
                            }
                        </tr>
                    }
                </tbody>
            }
        </table>

        @if ((ViewBag.Statut == "Coeur") || (ViewBag.Statut == "Administrateur"))
        {
            <a asp-area="" asp-controller="Personnages" asp-action="AddNewPerso">Ajouter un personnage</a>
        }
    </section>
</section>

<section class="row">
    <div class="col-xs-offset-3 col-xs-7">
        <h4>A Venir:</h4>
        <ul>
            <li>Ajout de tous les personnages</li>
            <li>Tri des personnages selon plusieurs critères</li>
            <li>Ect Ect...</li>
        </ul>
    </div>
</section>