@using System.Globalization
@using GreyAnatomyFanSite.Models.Persos
@using GreyAnatomyFanSite.Models.Site

@{
    ViewData["Title"] = Model.Article.Titre;
    ViewData["MetaKeywords"] = Model.Article.Titre;
    ViewData["MetaDescription"] = ViewBag.MetaDescription;
    ViewData["Commentaires"] = Model.Commentaires;
    ViewData["MembreMail"] = Model.Membre.Mail;
    ViewData["MembreStatut"] = Model.Membre.Statut;
    ViewData["IdPubli"] = Model.Article.Id;
    ViewData["TypePubli"] = "article";
    ViewData["MetaFacebookUrl"] = "<meta property=\"og:url\" content=\"https://www.greys-anatomy-fans.com/Home/ViewArticle/" + Model.Article.Id + "\" />";
    ViewData["MetaFacebookType"] = "<meta property=\"og:type\" content=\"article\" />";
    ViewData["MetaFacebookTitle"] = "<meta property=\"og:title\" content=\"" + Model.Article.Titre + "\" />";
    if (ViewBag.MetaDescription.Length > 120)
    {
        ViewData["MetaFacebookDescription"] = "<meta property=\"og:description\" content=\"" + ViewBag.MetaDescription.Substring(0, 120) + "\" />";
    }
    else
    {
        ViewData["MetaFacebookDescription"] = "<meta property=\"og:description\" content=\"" + ViewBag.MetaDescription + "\" />";
    }

    if (Model.Article.TypeMedia == "video")
    {

        ViewData["MetaFacebookMedia"] = "<meta property=\"og:image\" content=\"https://www.greys-anatomy-fans.com/images/Tools/videosImg.jpg\" />";

    }
    else
    {
        ViewData["MetaFacebookMedia"] = "<meta property=\"og:image\" content=\"https://www.greys-anatomy-fans.com/" + Model.Article.Media + "\" />";

    }

}

<div class="row">
    <article class="col-xs-offset-1 col-md-10 thumbnail">
        <div class="col-md-4">
            <div>

                @if (Model.Article.TypeMedia == "video")
                {
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="~/@Model.Article.Media"></iframe>
                    </div>
                }
                else
                {
                    <img class="center-block img-responsive" src="~/@Model.Article.Media" alt="@Model.Article.Titre"/>
                }


                <div class="row">
                    <p class="col-xs-12 DateListeArticles">
                        Posté le
                        @Model.Article.Date.ToString("F", CultureInfo.CreateSpecificCulture("fr-FR"))
                        <br>
                        par @Model.Article.Auteur.Pseudo
                    </p>
                </div>
                <div class="row">
                    <p class="col-xs-12 DateListeArticles">
                        Categorie: @Model.Article.Categorie.TitreCategory
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-8">

            <h1>
                @Model.Article.Titre
            </h1>


            <p>
                @Html.Raw(Model.Article.Texte)
            </p>

        </div>



        <div class="row">
            <div class="col-md-offset-9 col-xs-offset-6">
                <div class="col-lg-6 margBtn">
                    <div class="fb-share-button" data-href="https://www.greys-anatomy-fans.com/Home/ViewArticle/@Model.Article.Id" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.greys-anatomy-fans.com%2FHome%2FViewArticle%2F @Model.Article.Id &amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Partager</a></div>
                </div>
            </div>
        </div>

    </article>
</div>

<legend class="col-xs-offset-1 col-md-10 marginTop">
    Liste des derniers articles:
</legend>


<ul class="media-list col-xs-offset-1 col-md-10">

    @foreach (Article a in Model.Articles)
    {
        <li class="media table-bordered">
            <div class="media-left">

                <a asp-area="" asp-controller="Home" asp-action="ViewArticle" asp-route-id="@a.Id">
                    @if (a.TypeMedia == "video")
                    {
                        <img src="~/images/Tools/videosImg.jpg" class="media-object miniImgArticles" alt="@a.Titre" />
                    }
                    else if ((a.TypeMedia == "image") || (a.TypeMedia == "autre"))
                    {
                        <img src="~/@a.Media" class="media-object miniImgArticles" alt="@a.Titre" />
                    }

                </a>

            </div>

            <a asp-area="" asp-controller="Home" asp-action="ViewArticle" asp-route-id="@a.Id" class="media-body thumbnail">

                <h3 class="media-heading">
                    @a.Titre
                </h3>


                <p>
                    @if (a.Texte.Length > 150)
                    {
                        @Html.Raw(a.Texte.Substring(0, 150).Replace(Environment.NewLine, "<br/>"))

                    }
                    else
                    {
                        @Html.Raw(a.Texte.Replace(Environment.NewLine, "<br/>"))
                    }
                </p>

                </a>

</li>
    }

</ul>

<div class="row">
    <div class="col-xs-offset-1 col-md-10">
        @{

            await Html.RenderPartialAsync("~/Views/Shared/_ListCommentaires.cshtml");

        }
    </div>
</div>



