@using System.Globalization

@{
    ViewData["Title"] = Model.Titre;
    ViewData["MetaKeywords"] = Model.Titre;
    ViewData["MetaDescription"] = ViewBag.MetaDescription;
}

<div class="row">
    <div class="col-xs-offset-1 col-md-10 thumbnail">
        <div class="col-md-4">
            <div>

                @if (Model.TypeMedia == "video")
                {
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="~/@Model.Media"></iframe>
                    </div>
                }
                else
                {
                    <img class="center-block img-responsive" src="~/@Model.Media" />
                }


                <div class="row">
                    <div class="col-xs-12 DateListeArticles">
                        Posté le
                        @Model.Date.ToString("F", CultureInfo.CreateSpecificCulture("fr-FR"))
                        <br>
                        par @Model.Auteur.Pseudo
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">

            <h2>
                @Model.Titre
            </h2>


            <p>
                @Html.Raw(Model.Texte)
            </p>

        </div>



        <div class="row">
            <div class="col-md-offset-9 col-xs-offset-6">
                <div class="col-lg-6 margBtn">
                    <div class="fb-share-button" data-href="https://www.greys-anatomy-fans.com/Home/ViewArticle/@Model.Id" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.greys-anatomy-fans.com%2FHome%2FViewArticle%2F @Model.Id &amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Partager</a></div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-xs-offset-1 col-md-10 thumbnail">
        @{
            await Html.RenderPartialAsync("~/Views/Shared/_CommentairesForm.cshtml");
        }
    </div>
</div>
