@using GreyAnatomyFanSite.Models.Persos

@{
    ViewData["Title"] = "Administration Personnages";
    int Id = 0;
}


@model List<Personnage>




<section class="row">
    <section class="col-lg-offset-2 col-lg-7">



        <table class="table table-bordered table-striped">
            <caption>
                <h4>Liste des Personnages</h4>
            </caption>

            @if (Model.Count == 0)
            {
                <tbody>
                    <tr>

                        <td>
                            Pas de personnage enregistré.
                        </td>
                    </tr>
                </tbody>
            }
            else
            {
                <thead>
                    <tr class="CentreTableau">
                        <th class="col-xs-2">Id</th>
                        <th class="col-xs-5">Nom du Personnage:</th>
                        <th class="col-xs-5">Acteur:</th>
                    </tr>
                </thead>

                <tbody>

                    @foreach (Personnage p in Model)
                    {
                        Id++;
                        <tr class="CentreTableau">

                            <td>N°: @Id</td>

                            <td><img src="~/@p.Photos[0].Url" class="img-circle imgMini" />  <span>    </span>  <a asp-area="" asp-controller="Personnages" asp-action="ViewPersonnageID" asp-route-id="@p.Id">@p.Nom @p.Prenoms[0].Prenom</a></td>
                            <td><a asp-area="" asp-controller="Acteurs" asp-action="ViewActeurID" asp-route-id="@p.IdActeur">@p.NomActeur @p.PrenomActeur</a></td>
                            <td><a asp-area="" asp-controller="Administration" asp-action="ModifPerso" asp-route-id="@p.Id">Modifier</a></td>

                        </tr>
                    }
                </tbody>
            }

        </table>


        <a asp-area="" asp-controller="Administration" asp-action="AddPerso">Ajouter un personnage</a>
    </section>


</section>
